@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 rounded-lg transition-colors;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}

body {
  @apply bg-black text-white font-manrope;
}

.grid-center {
  display: grid;
  place-items: center;
}
