@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-neutral-400 transition-colors;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}

.grid-center {
  display: grid;
  place-items: center;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.card-image-wrapper {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: calc(100% + 5px);

    @apply z-2;
    @apply bg-gradient-to-t from-background to-transparent;
  }
}
